@charset "utf-8";


html,body,div,p,h1,h2,h3,h4,h5,section,article,span {
    margin: 0;
    padding: 0;
}

#tabwrap {
    width: 500px;
    height: 500px;
    ul {
        display: flex;
        position: relative;
        li {
            list-style: none;
            width: 33.333%;
            background:#333;
            color: #fff;
            text-align: center;
            cursor: pointer;
            
            &.active {
                background:#666;
            }

        }
    }

    .contents {
        display: none;

        &.active {
            display: block;
        }
    }
}